@model Application.ViewModels.LoginViewModel

@using Application.Models;

@* @using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager *@
    
@{

}
<form class="" method="post" asp-controller="User" asp-action="Login">
    <fieldset class="">
        <legend class="text-black">Вход</legend>
        <div class="">
            <label for="" class="form-label mt-4">Адрес электронной почты</label>
            <input type="text" class="form-control w-50" placeholder="" asp-for="Email">
        </div>
        <div class="">
            <label for="" class="form-label mt-4">Пароль</label>
            <input type="password" class="form-control w-50" placeholder="" asp-for="Password">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Войти</button>
    </fieldset>
</form>
<p class="mt-4 text-danger">@ViewBag.Message</p>