@model IEnumerable<Application.Models.BookData>

@{
    Layout = null;
}

@if(Model != null)
{
    <div class="mt-5">
        @foreach (var book in Model)
        {
            @await Component.InvokeAsync("BookCard", new {
                bookData = book,
                mode = ViewBag.Mode
            })
        }
    </div>
    @if (ViewBag.Mode == Application.Data.Enums.BookCardModes.Remove)
    {
        @if (Model.Any())
        {
            <div>
                <p class="text-primary">
                    Полная стоимость товаров: @Model.Sum(e => e.Book.Price) рублей
                </p>
            </div>
        }
    }
}
