@model BookWebApp.Models.User
@{
    Layout = null;
}

@if(Model.Username != null){
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.Username
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="User" asp-action="Profile">Профиль</a>
            <a class="dropdown-item" asp-controller="User" asp-action="Inventory">Инвентарь</a>
            <a class="dropdown-item" asp-controller="User" asp-action="Cart">Корзина</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="User" asp-action="Logout">Выход</a>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Cart"><img src="" alt=""></a>
    </div>
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Inventory"><img src="" alt=""></a>
    </div>
}
else{
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Вход</a>
    </div>
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Регистрация</a>
    </div>
}