@model IEnumerable<Application.ViewModels.BookCardViewModel>

@{
    <div class="container mt-5">
        <form class="form-inline d-inline-flex w-100" method="post" asp-controller="Catalog" asp-action="Search">
            <input class="form-control" type="search" placeholder="Найдите то, что вам нужно" aria-label="Search" name="query" text="@ViewBag.Query">
            <button class="btn btn-info" type="submit">Поиск</button>
        </form>
    </div>

    @if (Model.Count() != 0)
    {
        @await Component.InvokeAsync("BookList", new {
        model = @Model,
        mode = Application.Data.Enums.BookCardModes.Add
        })
    }
    else
    {
        <div class="mt-5">
            <h3 class="ml-3">По вашему запросу ничего не найдено!</h3>
        </div>
    }
}
