/* _content/uni-book-webstore/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5fz1cmzj2y] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5fz1cmzj2y] {
  color: #0077cc;
}

.btn-primary[b-5fz1cmzj2y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5fz1cmzj2y], .nav-pills .show > .nav-link[b-5fz1cmzj2y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5fz1cmzj2y] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5fz1cmzj2y] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5fz1cmzj2y] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5fz1cmzj2y] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5fz1cmzj2y] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/uni-book-webstore/Views/Shared/Components/BookCarousel/Default.cshtml.rz.scp.css */
/*.carousel-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
}*/

.carousel-control-prev[b-oi7fjfs79v],
.carousel-control-next[b-oi7fjfs79v] {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/*@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}
*/
